@media(min-width:1201px) {

    h2 {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 14pt;
        line-height: 1.5em;
        background-color: rgb(79, 87, 104);
        color: white;
        padding: 15px 15px 15px 30px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 14pt;
        margin-top: -5px;
        font-family: "Raleway", sans-serif;

    }

    h4 {
        font-size: 9pt;
        margin-top: -15px;
        font-family: "Raleway", sans-serif;

    }

    article {
        text-align: center;
    }

    #TileContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 10px;
    }

    .SquareTile p {
        margin-top: 1px;
        margin-bottom: 40px;

    }

    .SquareTile img {
        height: 350px;
        /* border: black solid 2px; */

        border-radius: 4px;
        gap: 2px;
        margin: 10px;
    }

    .SquareTile:hover {
        transform: scale(1.05);
    }

}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
h2 {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 14pt;
        line-height: 1.5em;
        background-color: rgb(79, 87, 104);
        color: white;
        padding: 15px 15px 15px 30px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 14pt;
        margin-top: -5px;
        font-family: "Raleway", sans-serif;

    }

    h4 {
        font-size: 9pt;
        margin-top: -15px;
        font-family: "Raleway", sans-serif;

    }

    article {
        text-align: center;
    }

    #TileContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }

    .SquareTile p {
        margin-top: 1px;
        margin-bottom: 40px;

    }

    .SquareTile img {
        height: 350px;
        /* border: black solid 2px; */

        border-radius: 4px;
        gap: 2px;
        margin: 10px;
    }

    .SquareTile:hover {
        transform: scale(1.05);
    }
}
@media(max-width:800px) {
        h2 {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 14pt;
        line-height: 1.5em;
        background-color: rgb(79, 87, 104);
        color: white;
        padding: 15px 15px 15px 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 12pt;
        margin-top: -5px;
        font-family: "Raleway", sans-serif;

    }

    h4 {
        font-size: 8pt;
        margin-top: -15px;
        font-family: "Raleway", sans-serif;

    }

    article {
        text-align: center;
        
    }

    #TileContainer {
        margin-bottom: 100px;
    }

    .SquareTile{
        margin-bottom: 40px;
    }
    .SquareTile p {
        margin-top: 1px;
        margin-bottom: 60px;

    }

    .SquareTile img {
        height: 300px;
        border-radius: 4px;

       
    }

    .SquareTile:hover {
        transform: scale(1.05);
    }
}