@media(min-width:1300px) {
    #HP h1 {
        font-size: 25pt;
        margin-bottom: 5px;
        padding: none;
        text-align: center;
        color: white;
    }
    
    #HP p {
        text-align: center;
        color: white;
    }
    
    #HP {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(79, 87, 104);
        margin-top: 10pt;
    }
    
    #HP .no1 {
        align-self: center;
        margin: 60px;
    }
    #HP .no1 img {
        padding: 20px;
        height: 200px;
        width: auto;
        max-width: 100%;
    }
    
    #HP .no2 img {
        padding: 20px;
        height: 400px;
        width: auto;
        max-width: 100%;
    }
    
    #aboutMe {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(79, 87, 104);
        margin-top: 30pt;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #aboutMe .no3 img {
        padding: 8px;
        height: 300px;
        width: auto;
        max-width: 100%;
    }
    
    #aboutMe .no4 {
        align-self: center;
        margin: 25px;
    
    }
    
    #aboutMe p {
        color: white;
        text-align: left;
    }
    
    #aboutMe #book #GD {
        align-self: center;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 12pt;
        text-decoration: none;
    }
    
    #aboutMe p {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 12pt;
        line-height: 1.5em;
    }
    
    #aboutMe h2 {
        font-family: "Slabo 13px", serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 18pt;
    }
    }

    @media(max-width:1300px) {

        #HP h1 {
            font-size: 25pt;
            margin-bottom: 15px;
            padding: none;
            text-align: Right;
            margin-right: 10px;
            color: white;
        }
        
        #HP p {
            text-align: right;
            color: white;
            font-size: 12pt;
            margin-right: 10pt;
        }
        
        #HP {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: rgb(79, 87, 104);
            margin-top: 30pt;
    
            border-radius: 4px;
        }
        
        #HP .no1 img {
            align-self: center;
            margin: 10px;
            height: 180px;
        }

        
        #HP .no2 img {
            padding: 10px;
            height: 200px;
            width: auto;
            max-width: 100%;
        }
        
        #aboutMe {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: rgb(79, 87, 104);
            margin-top: 10pt;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 4px;
        }
        
        #aboutMe .no3 img {
            padding: 1px;
            height: 150px;
            width: auto;
            max-width: 100%;
        }
        
        #aboutMe .no4 {
            align-self: center;
            margin: 10px;
        
        }
        
        /* #aboutMe #book {
            align-self: center;
            margin-left: 120px;
            margin-right: auto;
            border-radius: 4px;
            text-decoration: none;
        } */
    
        #aboutMe p {
    
            color: white;
            font-style: normal;
            font-size: 10pt;
            line-height: 1.5em;
            margin-left: 10px;
        }
        
        #aboutMe h2 {
            font-family: "Slabo 13px", serif;
            font-weight: 400;
            font-style: normal;
            color: white;
            font-size: 16pt;
        }
        }