@media(min-width:1300px) {

    .centerImages p {
        text-align: center;
        padding: 15px;
    }

    article {
        background-color: rgb(231, 229, 229);
        margin: 20px;
    }

    .displayPortfolio {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
    }

    article img {
        height: 700px;
        width: auto;
    }

     p img {
        width: auto;
        height: 150px;
        padding-top: 25px;
        padding-left: 0pt;
        margin-left: 0pt;
    }

    article p{
        padding: 20px;
    }

    .centerImg img {
        display: block;
        margin: auto;
        width: 80%;
        height: auto;
        padding: 10px;
    }

    .centerImages img {
        display: block;
        margin: auto;
        width: auto;
        height: 60%;
        padding: 10px;
    }



}

@media (min-width: 800px) and (max-width: 1299px) {

    article {
        background-color: rgb(231, 229, 229);
        margin: 20px;
    }

    .displayPortfolio {

        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
    }

    .displayPortfolio p {
        margin: 20px;
        font-size: 11pt;
    }

    article img {
        height: 650px;
        width: auto;
    }

    article p img {
        width: 100%;
        height: auto;
        padding-top: 25px;
    }

    .centerImg img {
        display: block;
        margin: auto;
        width: 80%;
        height: auto;
        padding: 10px;
    }

    .centerImages img {
        display: block;
        margin: auto;
        width: auto;
        height: 60%;
        padding: 10px;
    }

}


@media only screen and (max-width: 799px) {

    .centerImages p {
        text-align: center;
        padding: 15px;
    }


    article {
        background-color: rgb(231, 229, 229);
        margin: 20px;
    }

    .centerImages p {
        text-align: center;
        padding: 15px;
    }

   

    article {
        background-color: rgb(231, 229, 229);
        margin: 20px;
    }

    .displayPortfolio {
        padding: 10px;
    }


    article img {
        display: block;
        height: auto;
        width: 100%;
    }

    article p img {
        width: 100%;
        height: auto;
        padding-top: 25px;
    }

    

    .centerImg img {
        display: block;
        margin: auto;
        width: 80%;
        height: auto;
        padding: 10px;
    }

    .centerImages img {
        display: block;
        margin: auto;
        width: 80%;
        height: auto;
        padding: 10px;
    }

}